<ion-view title="Contact" id="page3">
  <ion-content padding="true" class="has-header">
    <a href="mailto:wbraffman@gmail.com" id="contact-button3" class="button button-assertive button-block">Email</a>
    <a href-inappbrowser="https://docs.google.com/forms/d/e/1FAIpQLSf5r6XYOIVY-M2Qc6sz8FEQdTLtKES223LvYxFpkSqjFAUdaQ/viewform" id="contact-button4" class="button button-energized button-block">Icon Request</a>
    <a href-inappbrowser="https://wbraffman.github.io/repo" id="contact-button5" class="button button-positive button-block">Personal Repo</a>
    <a href-inappbrowser="https://twitter.com/thenatis1" id="contact-button6" class="button button-calm button-block">Twitter</a>
  </ion-content>
</ion-view>