<ion-view title="History Of iOS" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="historyOfIOS-heading2" style="color:#000000;">History Of iOS</h1>
    <div id="historyOfIOS-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">is an iOS theme that contains all of the iOS versions. This way if you have an iOS 9 device you can make it look like any iOS version you want. It even has docks.</p>
    </div>
    <div>
      <img src="img/aSYcX0QcTW5w8MHJml4k_IMG_0058.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://repo.packix.com/package/com.willbraff.historyofios/" id="historyOfIOS-button1" class="button button-balanced button-block">Get On Packix</a>
  </ion-content>
</ion-view>