<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#000000;">Thenatis</h1>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">is an iOS theme developer. He has developed History Of iOS and Scenic.</p>
    </div>
    <div>
      <img src="img/8wnOLpLgSVeE2DMta7pm_IMG_01893.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>