<ion-view title="Packages" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="packages-list2">
      <ion-item class="item-avatar" id="packages-list-item4" ui-sref="menu.historyOfIOS()">
        <img src="img/yQxY8RXGTAenHIQ4UM5Q_icon.png">
        <h2>History Of iOS</h2>
      </ion-item>
      <ion-item class="item-avatar" id="packages-list-item5" ui-sref="menu.scenic()">
        <img src="img/7QY6TkYlQBy3xPIiR5kj_Logo.png">
        <h2>Scenic</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>