<ion-view title="Scenic" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/s9L9rz1VRxOs3jiyNb6c_Untitled-48.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="scenic-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">is an incredible iOS theme that costs only $0.99. It works on iOS 7-12. It can be found on the Packix repo.</p>
    </div>
    <div>
      <img src="img/iAwyRIbxRHmzngHYc5B2_IMG_00782.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://repo.packix.com/package/com.willbraff.scenic/" id="scenic-button2" class="button button-positive button-block">Get On Packix</a>
  </ion-content>
</ion-view>