<ion-view title="Scenic Wallpapers" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="scenicWallpapers-list4">
      <ion-item class="item-divider" id="scenicWallpapers-list-item-divider2"> Yellow</ion-item>
    </ion-list>
    <div>
      <a style="display:block;" href-inappbrowser="https://mega.nz/#!tWQGCKBR!dWhF5bty-PwqPN9TTziZ8yUZbQjUcthltwjmDqXxL-A">
        <img src="img/BjSzzl3R5au1LDaYT7Bx_Untitled-63.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="scenicWallpapers-list3">
      <ion-item class="item-divider" id="scenicWallpapers-list-item-divider1"> Blue</ion-item>
    </ion-list>
    <div>
      <a style="display:block;" href-inappbrowser="https://mega.nz/#!RfBUlCDR!MBjew_-5kRq5LF_jh5WJBhQV9hYxpWvVRPBgG41ifX0">
        <img src="img/mWWNb36zS3yna1EmB4R3_wallpaper11.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="scenicWallpapers-list5">
      <ion-item class="item-divider" id="scenicWallpapers-list-item-divider3"> Red</ion-item>
    </ion-list>
    <div>
      <a style="display:block;" href-inappbrowser="https://mega.nz/#!FKRE2CQa!ngUw6kGedCNuIs2invi_3_s5qaJAIyT4YNIbP_8jYvY">
        <img src="img/31dLJSOBT2yWsshcUpI2_wallpaper11-2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>