<ion-view title="Scenic" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/s9L9rz1VRxOs3jiyNb6c_Untitled-48.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="scenic-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">is an incredible iOS theme that costs only $0.99. It works on iOS 7-12. It can be found on the Packix repo.</p>
    </div>
    <a ui-sref="menu.scenicWallpapers()" id="scenic-button7" class="button button-positive button-small">Wallpapers</a>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/https://youtu.be/myvLF3QthJA?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="scenic-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <a href-inappbrowser="https://repo.packix.com/package/com.willbraff.scenic/" id="scenic-button2" class="button button-positive button-block">Get On Packix</a>
  </ion-content>
</ion-view>